*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {font-family: 'Roboto Mono', monospace; color: white; cursor: none;}

.button {
  text-decoration: none;
  background-color: white;
  color: linear-gradient(-45deg, #00ABE9, #D9308A);
  padding: 1em 2em;
  margin: 0em;
}
.button:hover {
  text-decoration: none;
  background: linear-gradient(-45deg, #00ABE9, #D9308A);
  padding: 1em 2em;
  margin: 0em;
}

/* 

#    #   ##   #    # #####    ##   #####  
##   #  #  #  #    # #    #  #  #  #    # 
# #  # #    # #    # #####  #    # #    # 
#  # # ###### #    # #    # ###### #####  
#   ## #    #  #  #  #    # #    # #   #  
#    # #    #   ##   #####  #    # #    #

*/

.navbar {
  position: absolute;
  z-index: 9999;
  color: white;
  font-size: 0.9em;
  display: flex;
  width: 100%;
  padding: 1.8em 3em;
}
.navbar .menu {
  margin-left: auto;
}

a {
  color: #CCCCCC;
  text-decoration: none;
  margin-left: 0.6em;
  cursor: none;
}
a:hover, a:active {
  color: white;
  opacity: 1;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #CCCCCC;
}

/*

#    #  ####  #    # ###### 
#    # #    # ##  ## #      
###### #    # # ## # #####  
#    # #    # #    # #      
#    # #    # #    # #      
#    #  ####  #    # ######

*/

.home {
  width: 100%;
	height: 100vh;
  background: linear-gradient(-45deg, #23D5AB, #00ABE9, #D9308A, #BF2A7A);
  background-size: 300% 300%;
  animation: Gradient 15s ease infinite;
  position: relative;
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

.font-design {font-family: Georgia, Times, 'Times New Roman', serif;}

.font-dev {font-family: 'Roboto Mono', monospace;}

.home-text1 h1,.home-text2 h1,.home-text3 h1{
  position: absolute;
  font-size: 8vw;
}
.home-text1 h1{top: 25%; left: 35%;}
.home-text2 h1{top: 40%; left: 28%;}
.home-text3 h1{top: 55%; left: 20%;}

.home-text-line h1{
  min-height: 150px;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: 1px white;
  z-index: 7;
}

.home-text-base h1{
  min-height: 150px;
  line-height: 100%;
  color: white;
  z-index: 4;
}

.home-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: auto;
  height: auto;
  z-index: 5;
}

.home-image img{
  width: 100%;
  max-width: 25em;
  height: auto;
}

.img-animation{
  animation: img-animation 3s linear infinite;
  transform-origin: 73% 50%;
  margin: 1rem 0 !important;
}

@keyframes img-animation {
  0% { transform: translateY(20px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(20px) }
}

.home a {
  position: absolute;
  left: 50%;
  top: 93%;
  margin: 0;
}

/*

#    #  ####  #####  #    # 
#    # #    # #    # #   #  
#    # #    # #    # ####   
# ## # #    # #####  #  #   
##  ## #    # #   #  #   #  
#    #  ####  #    # #    #

*/

.slide {padding-left: 6em; padding-right: 6em;}
.fp-tableCell {display: flex; align-items: center;}

.work {background-color: white;}

.project-text {padding-right: 3em; width: 50%;}
.project-text span {color: #CCCCCC;}
.project-text h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  font-weight: 100;
  color: #101010;
  line-height: 1em;
}
.project-text p {margin-bottom: 4em; padding-right: 4em; color: #868181;}

hr {
  height: 2px;
  color: #101010;
  background-color: #101010;
  width: 12%;
  border: none;
  margin: 1em 0em 1.6em 0em;
}

.slider {
  width: 50%;
  height: 30em;
  position: relative;
}

.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {background: url(./images/barycentre1.jpg)no-repeat center;} 
.slide2 {background: url(./images/barycentre2.jpg)no-repeat center;}
.slide3 {background: url(./images/barycentre3.jpg)no-repeat center;}

.slide4 {background: url(./images/feedali1.jpg)no-repeat center;}
.slide5 {background: url(./images/feedali2.jpg)no-repeat center;}
.slide6 {background: url(./images/feedali3.jpg)no-repeat center;}

.slide7 {
  background: url(./images/euroconstruct1.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade4 15s infinite;
}
.slide8 {
  background: url(./images/euroconstruct2.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade5 15s infinite;
}
.slide9 {
  background: url(./images/euroconstruct3.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade6 15s infinite;
}
.slide10 {
  background: url(./images/euroconstruct4.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade7 15s infinite;
}

.slide11 {background: url(./images/plaquettes1.jpg)no-repeat center;}
.slide12 {background: url(./images/plaquettes2.jpg)no-repeat center;}
.slide13 {background: url(./images/plaquettes3.jpg)no-repeat center;}

.slide14 {background: url(./images/webdesign1.jpg)no-repeat center;}
.slide15 {background: url(./images/webdesign2.jpg)no-repeat center;}
.slide16 {background: url(./images/webdesign3.jpg)no-repeat center;}

.img-cover {
  background-size: cover;
}

.slide1, .slide4, .slide11, .slide14 {
  animation:fade 15s infinite;
  -webkit-animation:fade 15s infinite;
}

.slide2, .slide5, .slide12, .slide15 {
  animation:fade 15s infinite;
  -webkit-animation:fade2 15s infinite;
}

.slide3, .slide6, .slide13, .slide16 {
  animation:fade 15s infinite;
  -webkit-animation:fade3 15s infinite;
}

@keyframes fade {0% {opacity:1} 33.333% {opacity: 0} 66.666% {opacity: 0} 100% {opacity: 1}}
@keyframes fade2 {0% {opacity:0} 33.333% {opacity: 1} 66.666% {opacity: 0 } 100% {opacity: 0}}
@keyframes fade3 {0% {opacity:0} 33.333% {opacity: 0} 66.666% {opacity: 1} 100% {opacity: 0}}

@keyframes fade4 {0% {opacity:1} 25% {opacity: 0} 50% {opacity: 0} 75% {opacity: 0} 100% {opacity: 1}}
@keyframes fade5 {0% {opacity:0} 25% {opacity: 1} 50% {opacity: 0} 75% {opacity: 0} 100% {opacity: 0}}
@keyframes fade6 {0% {opacity:0} 25% {opacity: 0} 50% {opacity: 1} 75% {opacity: 0} 100% {opacity: 0}}
@keyframes fade7 {0% {opacity:0} 25% {opacity: 0} 50% {opacity: 0} 75% {opacity: 1} 100% {opacity: 0}}

/*

  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   

*/

.contact {
  background-color: pink;
}

/*

  ####  #    # #####   ####   ####  #####  
 #    # #    # #    # #      #    # #    # 
 #      #    # #    #  ####  #    # #    # 
 #      #    # #####       # #    # #####  
 #    # #    # #   #  #    # #    # #   #  
  ####   ####  #    #  ####   ####  #    #

*/

.cursor {
  position: absolute;
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  background-color: white;
  transform: scale(2);
  opacity: 1;
}
.cursor.hovered {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background-color: rgba(232, 109, 179, 0.7);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(5px, 5px);
}
.cursor-follower.active {
  opacity: 0.9;
  transform: scale(4);
}
.cursor-follower.hovered {
  opacity: 0.65;
}

/*

#####  ######  ####  #####   ####  #    #  ####  # #    # ###### 
#    # #      #      #    # #    # ##   # #      # #    # #      
#    # #####   ####  #    # #    # # #  #  ####  # #    # #####  
#####  #           # #####  #    # #  # #      # # #    # #      
#   #  #      #    # #      #    # #   ## #    # #  #  #  #      
#    # ######  ####  #       ####  #    #  ####  #   ##   ######

*/

@media (max-width:768px) {
  .navbar {
    padding: 1.5em 2em;
  }

  a {
    margin-left: 0em;
  }
}