*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {font-family: 'Roboto Mono', monospace; color: white; cursor: none;}

a {text-decoration: none;}

/* 

#    #   ##   #    # #####    ##   #####  
##   #  #  #  #    # #    #  #  #  #    # 
# #  # #    # #    # #####  #    # #    # 
#  # # ###### #    # #    # ###### #####  
#   ## #    #  #  #  #    # #    # #   #  
#    # #    #   ##   #####  #    # #    #

*/

.navbar {
  position: absolute;
  z-index: 9999;
  font-size: 0.9em;
  display: flex;
  width: 100%;
  padding: 3em 6em 0em 6em;
  justify-content: center;
}
@media (max-width:768px) {.navbar {padding: 1.5em 1.7em; font-size: 0.8em;}
}

.navbar .menu {
  margin-left: auto;
}

.navbar a, .home a {
  color: #CCCCCC;
  margin-left: 0.6em;
  cursor: none;
}
.navbar a:hover, .home a:hover {
  color: white;
  opacity: 1;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background-color: #CCCCCC;
  cursor: none;
}

#fp-nav ul li a, .fp-slidesNav ul li a {
  cursor: none;
}

@media (max-width:768px) {#fp-nav.right {right: 3px;}}

/*

#    #  ####  #    # ###### 
#    # #    # ##  ## #      
###### #    # # ## # #####  
#    # #    # #    # #      
#    # #    # #    # #      
#    #  ####  #    # ######

*/

.home {
  width: 100%;
	height: 100vh;
  background: linear-gradient(-45deg, #23D5AB, #00ABE9, #D9308A, #BF2A7A);
  background-size: 300% 300%;
  animation: Gradient 15s ease infinite;
  position: relative;
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

.font-design {font-family: Georgia, Times, 'Times New Roman', serif;}

.font-dev {font-family: 'Roboto Mono', monospace;}

.home-text1 h1,.home-text2 h1,.home-text3 h1 {
  position: absolute;
  font-size: 8vw;
}
@media (max-width:768px) {.home-text1 h1,.home-text2 h1,.home-text3 h1 {font-size: 12vw;}}

.home-text1 h1 {top: 25%; left: 35%;}
@media (max-width:768px) {.home-text1 h1 {top: 38%; left:28%;}}

.home-text2 h1 {top: 40%; left: 28%;}
@media (max-width:768px) {.home-text2 h1 {top: 46%; left:20%;}}

.home-text3 h1 {top: 55%; left: 20%;}
@media (max-width:768px) {.home-text3 h1 {top: 55%; left: 8%;}}

.text-line h1 {
  min-height: 150px;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: 1px white;
  z-index: 7;
}

.text-base h1 {
  min-height: 150px;
  line-height: 100%;
  color: white;
  z-index: 4;
}

.home-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: auto;
  height: auto;
  z-index: 5;
}

.home-image img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

.img-animation {
  animation: img-animation 3s linear infinite;
  transform-origin: 73% 50%;
  margin: 1rem 0 !important;
}

@keyframes img-animation {
  0% { transform: translateY(20px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(20px) }
}

.navigation-link {
  z-index: 9999;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.navigation-link a {
  position: absolute;
  top: 90%;
  margin: 0;
  color: white;
  font-size: 1.2em;
}

.navigation-link a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/*

#    #  ####  #####  #    # 
#    # #    # #    # #   #  
#    # #    # #    # ####   
# ## # #    # #####  #  #   
##  ## #    # #   #  #   #  
#    #  ####  #    # #    #

*/

.slide {padding-left: 6em; padding-right: 6em;}
@media (max-width:768px) {.slide {padding-left: 2em; padding-right: 2em;}}

.fp-tableCell {display: flex; align-items: center;}
@media (max-width:768px) {.fp-tableCell {flex-direction: column; justify-content: center;}}

.fp-controlArrow {top:90%; margin: 0em 12em;}
@media (max-width:768px) {.fp-controlArrow {top:94%; margin: 0em 1.2em;}}

.fp-controlArrow.fp-prev {text-align: left;}
.fp-controlArrow.fp-next {text-align: right;}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
  z-index: 9998;
  font-size: 1em;
  color: #101010;
  border: none;
  width: 8em;
  cursor: none;
}
@media (max-width:768px) {.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {font-size: 0.8em;}}

.fp-controlArrow.fp-prev:hover, .fp-controlArrow.fp-next:hover {color: rgba(16,16,16,0.5);}

.work {background-color: white;}

.project-text {padding-right: 3em; width: 50%;}
@media (max-width:768px) {.project-text {padding-right: 0; width: 100%;}}

.project-text span {color: #CCCCCC;}
.project-text h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 3em;
  font-weight: 100;
  color: #101010;
  line-height: 1em;
  margin-top: 0.2em;
}
@media (max-width:768px) {.project-text h1 {font-size: 1.5em;}}

.project-text p {margin-bottom: 4em; padding-right: 4em; color: #868181;}
@media (max-width:768px) {.project-text p {margin-bottom: 2em;} .project-text p, .font-size-mob {font-size: 0.7em; padding-right: 0;}}

hr {
  height: 2px;
  color: #101010;
  background-color: #101010;
  width: 12%;
  border: none;
  margin: 1.2em 0em 1.2em 0em;
}
@media (max-width:768px) {hr {margin: 0.5em 0em 0.5em 0em;}}

.slider {
  width: 50%;
  height: 30em;
  position: relative;
}
@media (max-width:768px) {.slider {width: 100%; height: 13em; margin-top: 2em;}}

.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {background: url(./images/barycentre1.jpg)no-repeat center;} 
.slide2 {background: url(./images/barycentre2.jpg)no-repeat center;}
.slide3 {background: url(./images/barycentre3.jpg)no-repeat center;}

.slide4 {background: url(./images/feedali1.jpg)no-repeat center;}
.slide5 {background: url(./images/feedali2.jpg)no-repeat center;}
.slide6 {background: url(./images/feedali3.jpg)no-repeat center;}

.slide7 {
  background: url(./images/euroconstruct1.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade4 15s infinite;
}
.slide8 {
  background: url(./images/euroconstruct2.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade5 15s infinite;
}
.slide9 {
  background: url(./images/euroconstruct3.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade6 15s infinite;
}
.slide10 {
  background: url(./images/euroconstruct4.jpg)no-repeat center;
  animation:fade4 15s infinite;
  -webkit-animation:fade7 15s infinite;
}

.slide11 {background: url(./images/plaquettes1.jpg)no-repeat center;}
.slide12 {background: url(./images/plaquettes2.jpg)no-repeat center;}
.slide13 {background: url(./images/plaquettes3.jpg)no-repeat center;}

.slide14 {background: url(./images/webdesign1.jpg)no-repeat center;}
.slide15 {background: url(./images/webdesign2.jpg)no-repeat center;}
.slide16 {background: url(./images/webdesign3.jpg)no-repeat center;}

.img-cover {
  background-size: cover;
}

.slide1, .slide4, .slide11, .slide14 {
  animation:fade 15s infinite;
  -webkit-animation:fade 15s infinite;
}

.slide2, .slide5, .slide12, .slide15 {
  animation:fade 15s infinite;
  -webkit-animation:fade2 15s infinite;
}

.slide3, .slide6, .slide13, .slide16 {
  animation:fade 15s infinite;
  -webkit-animation:fade3 15s infinite;
}

@keyframes fade {0% {opacity:1} 33.333% {opacity: 0} 66.666% {opacity: 0} 100% {opacity: 1}}
@keyframes fade2 {0% {opacity:0} 33.333% {opacity: 1} 66.666% {opacity: 0 } 100% {opacity: 0}}
@keyframes fade3 {0% {opacity:0} 33.333% {opacity: 0} 66.666% {opacity: 1} 100% {opacity: 0}}

@keyframes fade4 {0% {opacity:1} 25% {opacity: 0} 50% {opacity: 0} 75% {opacity: 0} 100% {opacity: 1}}
@keyframes fade5 {0% {opacity:0} 25% {opacity: 1} 50% {opacity: 0} 75% {opacity: 0} 100% {opacity: 0}}
@keyframes fade6 {0% {opacity:0} 25% {opacity: 0} 50% {opacity: 1} 75% {opacity: 0} 100% {opacity: 0}}
@keyframes fade7 {0% {opacity:0} 25% {opacity: 0} 50% {opacity: 0} 75% {opacity: 1} 100% {opacity: 0}}

/*

  ####   ####  #    # #####   ##    ####  ##### 
 #    # #    # ##   #   #    #  #  #    #   #   
 #      #    # # #  #   #   #    # #        #   
 #      #    # #  # #   #   ###### #        #   
 #    # #    # #   ##   #   #    # #    #   #   
  ####   ####  #    #   #   #    #  ####    #   

*/

.contact {
  width: 100%;
	height: 100vh;
  background: linear-gradient(-45deg, #23D5AB, #00ABE9, #D9308A, #BF2A7A);
  background-size: 300% 300%;
  animation: Gradient 15s ease infinite;
  position: relative;
}

.contact-text1 h1,.contact-text2 h1 {
  position: absolute;
  font-size: 8vw;
}
@media (max-width:768px) {.contact-text1 h1,.contact-text2 h1 {font-size: 14vw;}}

.contact-text1 h1{top: 38%; left: 30%;}
@media (max-width:768px) {.contact-text1 h1 {top: 25%; left: 18%;}}

.contact-text2 h1{top: 50%; left: 52%;}
@media (max-width:768px) {.contact-text2 h1 {top: 36%; left: 50%;}}

.contact-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: auto;
  height: auto;
  z-index: 5;
}
@media (max-width:768px) {.contact-image {top: 35%}}

.contact-image img{
  width: 100%;
  max-width: 15em;
  height: auto;
}

.footer {
  width: 100%;
  z-index: 9999;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 90%;
  color: white;
  padding: 0em 18em;
}
@media (max-width:768px) {.footer {padding: 0em 2em; flex-direction: column; top: 65%; text-align: center; font-size: 0.8em;}}

.footer a {
  text-decoration: none;
  color: white;
}
@media (max-width:768px) {.footer a {margin-top: 1em;}}

.footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/*

  ####  #    # #####   ####   ####  #####  
 #    # #    # #    # #      #    # #    # 
 #      #    # #    #  ####  #    # #    # 
 #      #    # #####       # #    # #####  
 #    # #    # #   #  #    # #    # #   #  
  ####   ####  #    #  ####   ####  #    #

*/
@media (min-width:768px) {
  .cursor {
    position: absolute;
    background-color: white;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);
  }
  
  .cursor.active {
    background-color: white;
    transform: scale(2);
    opacity: 1;
  }
  .cursor.hovered {
    opacity: 1;
  }
  
  .cursor-follower {
    position: absolute;
    background-color: rgba(232, 109, 179, 0.7);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);
  }
  .cursor-follower.active {
    opacity: 0.9;
    transform: scale(3);
  }
  .cursor-follower.hovered {
    opacity: 0.65;
  }
}

/*

#####  #    # ##### #####  ####  #    # 
#    # #    #   #     #   #    # ##   # 
#####  #    #   #     #   #    # # #  # 
#    # #    #   #     #   #    # #  # # 
#    # #    #   #     #   #    # #   ## 
#####   ####    #     #    ####  #    #

*/

.button {
	color: #101010;
	transition: all 0.5s;
  position: relative;
  padding: 1em 2em;
  margin: 0em;
  cursor: none;
}
@media (max-width:768px) {.button {font-size: 0.7em; padding: 0.8em 1.2em;}}

.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: 1;
  background-color: rgba(16,16,16,0.1);
  opacity: 0.5;
	transition: all 0.3s;
}
.button:hover::before {
  color: #101010;
  opacity: 0 ;
	transform: scale(0.5,0.5);
}
.button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(16,16,16,0.5);
	transform: scale(1.2,1.2);
}
.button:hover::after {
	opacity: 1;
	transform: scale(1,1);
}

/*

#####  ######  ####  #####   ####  #    #  ####  # #    # ###### 
#    # #      #      #    # #    # ##   # #      # #    # #      
#    # #####   ####  #    # #    # # #  #  ####  # #    # #####  
#####  #           # #####  #    # #  # #      # # #    # #      
#   #  #      #    # #      #    # #   ## #    # #  #  #  #      
#    # ######  ####  #       ####  #    #  ####  #   ##   ######

*/